---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/kcdragon/vcr-presentation/issues
    body:
      encoding: UTF-8
      string: '{"title":"Issue created from API #1"}'
    headers:
      Authorization:
      - Basic a2NkcmFnb246ZTgxNWNlOWMwNmM1MjU1MWQ0Mzc0Yjg0NjQyYWY5NjA0YjFmMDQxNw==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
      X-Ratelimit-Reset:
      - '1492406763'
      Etag:
      - '"6f5c724806be871c152182b46b7b4512"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      Location:
      - https://api.github.com/repos/kcdragon/vcr-presentation/issues/3
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/kcdragon/vcr-presentation/issues/3","repository_url":"https://api.github.com/repos/kcdragon/vcr-presentation","labels_url":"https://api.github.com/repos/kcdragon/vcr-presentation/issues/3/labels{/name}","comments_url":"https://api.github.com/repos/kcdragon/vcr-presentation/issues/3/comments","events_url":"https://api.github.com/repos/kcdragon/vcr-presentation/issues/3/events","html_url":"https://github.com/kcdragon/vcr-presentation/issues/3","id":222066575,"number":3,"title":"Issue
        created from API #1","user":{"login":"kcdragon","id":982306,"avatar_url":"https://avatars2.githubusercontent.com/u/982306?v=3","gravatar_id":"","url":"https://api.github.com/users/kcdragon","html_url":"https://github.com/kcdragon","followers_url":"https://api.github.com/users/kcdragon/followers","following_url":"https://api.github.com/users/kcdragon/following{/other_user}","gists_url":"https://api.github.com/users/kcdragon/gists{/gist_id}","starred_url":"https://api.github.com/users/kcdragon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kcdragon/subscriptions","organizations_url":"https://api.github.com/users/kcdragon/orgs","repos_url":"https://api.github.com/users/kcdragon/repos","events_url":"https://api.github.com/users/kcdragon/events{/privacy}","received_events_url":"https://api.github.com/users/kcdragon/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-04-17T05:07:10Z","updated_at":"2017-04-17T05:07:10Z","closed_at":null,"body":null,"closed_by":null}'
  recorded_at: Mon, 17 Apr 2017 05:07:10 GMT
[...]
