---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/kcdragon/vcr-presentation/issues?labels=bug,important
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1492465692'
      Etag:
      - W/"1705c8c258b1963b6074199bc16082c6"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/kcdragon/vcr-presentation/issues/4","repository_url":"https://api.github.com/repos/kcdragon/vcr-presentation","labels_url":"https://api.github.com/repos/kcdragon/vcr-presentation/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/kcdragon/vcr-presentation/issues/4/comments","events_url":"https://api.github.com/repos/kcdragon/vcr-presentation/issues/4/events","html_url":"https://github.com/kcdragon/vcr-presentation/issues/4","id":222230720,"number":4,"title":"Important
        Bug","user":{"login":"kcdragon","id":982306,"avatar_url":"https://avatars2.githubusercontent.com/u/982306?v=3","gravatar_id":"","url":"https://api.github.com/users/kcdragon","html_url":"https://github.com/kcdragon","followers_url":"https://api.github.com/users/kcdragon/followers","following_url":"https://api.github.com/users/kcdragon/following{/other_user}","gists_url":"https://api.github.com/users/kcdragon/gists{/gist_id}","starred_url":"https://api.github.com/users/kcdragon/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kcdragon/subscriptions","organizations_url":"https://api.github.com/users/kcdragon/orgs","repos_url":"https://api.github.com/users/kcdragon/repos","events_url":"https://api.github.com/users/kcdragon/events{/privacy}","received_events_url":"https://api.github.com/users/kcdragon/received_events","type":"User","site_admin":false},"labels":[{"id":584492234,"url":"https://api.github.com/repos/kcdragon/vcr-presentation/labels/bug","name":"bug","color":"ee0701","default":true},{"id":585841868,"url":"https://api.github.com/repos/kcdragon/vcr-presentation/labels/important","name":"important","color":"bfdadc","default":false}],"state":"open","locked":false,"assignee":null,"assignees":[],"milestone":null,"comments":0,"created_at":"2017-04-17T21:01:53Z","updated_at":"2017-04-17T21:01:59Z","closed_at":null,"body":""}]'
  recorded_at: Mon, 17 Apr 2017 21:05:34 GMT
recorded_with: VCR 3.0.3
